* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden; 
  border: none;
  width: 100vw;
  height: 100vh;
  background-color: #fcfafa;
}

.pieChartDimensions {
  height: 45vh;
  width: 70vw;
}

.barChartDimensions {
  height: 45vh;
  width: 70vw;
  padding: 1rem 2rem;
  margin: 0;
}

.chart-text {
  font-size: 1.4rem;
}
 
@media (max-width: 748px) {
  .pieChartDimensions {
    width: 100vw;
  }

  .chartDimensions {
    width: 100vw;
  }

  .chart-text {
    font-size: 2rem;
  }
}

@media (min-width: 1280px) {
  .barChartDimensions {
    height: 50vh;
    width: 45vw;
  }
  .pieChartDimensions {
    height: 50vh;
  }
} 

.bar--negative {
  fill: #d40000;
}

.bar--positive {
  fill: #17CA4A;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 8rem;
  height: 4rem;
  padding: 0.4rem;
  font: 1rem sans-serif;
  background: white;
  border: 1px solid lightgray;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
}

.tickRevealContainer {
  height: 14rem;
  width: 14rem;
}

/************************
currencyDropDown.js Styles 
*************************/

#dropDownContainer {
  position: absolute;
  z-index: 9000;
  top: 0.8rem;
  left: 87%;
  width: 16rem;
}

#dropDownToggleDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 2.4rem;
  width: 5rem;
  margin: 0;
  margin-left: 25%;
  line-height: 2.4rem;
  
}

#dropDownToggleDiv:hover {
  cursor: pointer;
  /* background-color: #4eb089; */
}

#dropDownDiv {
  position: absolute;
  top: 2.5rem;
  left: -42%;
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: 16rem;
  margin: 0;
  padding: 0;
  overflow: auto;
  list-style: none;
  background-color: #fcfafa;
}

.dropDownListItem {
  display: flex;
  align-items: center;
  height: 2rem;
  min-height: 2.4rem;
  padding: 0.5rem;
  margin: 0;
}

.dropDownListItem:hover {
  cursor: pointer;
  background-color: #4eb089;
}

#currencyImg {
  margin-right: 0.8rem;
}

/************************
END currencyDropDown.js Styles
*************************/