body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.bg {
    position: absolute;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: #c21500;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFA900, #c21500);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFA900, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6rem;
}

@media screen and (max-width: 769px) {
    .navContainer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        width: 75vw;
        justify-content: space-between;
        height: 4rem;
    }
}

#logo {
    margin: 0;
    color: #fffbfc;
    font-size: 0.6rem;
    font-weight: 300;
}

@media screen and (min-width: 769px) {
    #logo {
        font-size: 1.2rem;
    }
}

.buttonsContainer {
    position: relative;
    z-index: 2000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    width: 12rem;
    padding: 0;
}

.btn {
    width: 4rem;
    height: 2rem;
    color: #c21500;
    background: #fffbfc;
    border: solid #fffbfc .1rem;
    margin: 0;
    text-decoration: none;
    font-size: 0.8rem;
}

#leftLoginBtn {
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    box-shadow: 2px 2px 3px #ccc;
    margin-right: 1.6rem;
}

#leftLoginBtn:hover {
    background: #17CA4A;
    color: #fffbfc;
}

#leftLoginBtn:focus {
    outline: 0;
}

#rightRegisterBtn {
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    border-top-left-radius: 14px;
    border-bottom-right-radius: 14px;
    box-shadow: 2px 2px 3px #ccc;
    margin-left: 1.6rem;
}

#rightRegisterBtn:hover {
    background: #17CA4A;
    color: #fffbfc;
}

#rightRegisterBtn:focus {
    outline: 0;
}

@media screen and (min-width: 900px) {
  .buttonsContainer {
      width: 14rem;
  }
  #leftLoginBtn {
      width: 5.5rem;
      height: 2.8rem;
      line-height: 2.8rem;
  }
  #rightRegisterBtn {
      width: 5.5rem;
      height: 2.8rem;
      line-height: 2.8rem;
  }
}

@media screen and (max-width: 768px) {
    .hidden-768d {
        display: none;
    }
    .buttonsContainer {
        height: 3rem;
        width: 1.8rem;
    }
}

@media screen and (min-width: 769px) {
    .hidden-768up {
        display: none;
    }
}

#header {
    position: absolute;
    top: 85%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 75vw;
    height: 8rem;
    text-align: center;
    color: #fffbfc;
    font-size: 1rem;
}

@media screen and (min-width: 360px) {
    #header {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 768px) {
    #header {
        font-size: 2.2rem;
    }
}

#burger {
    height: 1.8rem;
    width: 1.8rem;
    fill: #fffbfc;
}

#burger:hover {
    fill: #17CA4A;
}

.nav-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: -33vw;
    height: 100vh;
    width: 33vw;
    margin: 0;
    background: #1C1C1C;
    -webkit-transition: right 0.5s cubic-bezier(0.070, 0.460, 0.930, 0.545);
    -moz-transition: right 0.5s cubic-bezier(0.070, 0.460, 0.930, 0.545);
    -o-transition: right 0.5s cubic-bezier(0.070, 0.460, 0.930, 0.545);
    transition: right 0.5s cubic-bezier(0.070, 0.460, 0.930, 0.545);
}

@media screen and (min-width: 769px) {
    .nav-sidebar {
        visibility: hidden;
    }
}

.nav-sidebar-is-active {
    right: -1vw;
    z-index: 1500;
}

.nav-sidebar-hide {
    visibility: hidden;
}

.nav-sidebar-link {
    font-size: 1rem;
    color: #fffbfc;
    margin: 1rem;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .nav-sidebar-link {
        font-size: 0.8rem;
    }
}

.nav-sidebar-link:hover {
    color: #17CA4A;
}
